
:root {
    --primary-color: #4A6670; 
    --secondary-color: #668F80; 
    --accent-color1: #A0AF84; 
    --accent-color2: #C3B59F; 
}

h1, h2 {
    font-family: 'sans-serif', 'Open Sans', cursive;
}

.hero img {
    width: 100%;
    display: block;
    height: auto;
    margin-bottom: 0px;
    object-fit: cover;
}

.hero h1 {
    position: absolute;
    top: 10%;
    left: 50%;
    color: white;
    font-size: 3rem;
    font-family: sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translateX(-50%);
}

div.hero {
    position: relative;
}

div.hero article {
    position: absolute;
    top: 250px;
    left: 100px;
    right: 100px;
    margin: 1rem auto;
    background: var(--accent-color1);
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / .1);
    opacity: 80%;
}

div.hero article img {
    float: right;
    margin: 0 0 15px 15px;
    border: 1px solid rgb(0, 0, 0 / .3);
    box-shadow: 0 0 30px #777;
    height: 130px;
    width: 200px;
}

div.hero article p {
    margin: 0 0 15px 15px;
    padding: 1rem;
    border: 1px solid rgb(0, 0, 0 / .1);
    text-align: justify;
    color: #fff; 
}

h2 {
    position: relative;
}

p {
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-content: space-between;
    padding: 20px 250px;
    background-color: var(--secondary-color);
    border-bottom: 1px solid #ccc;
}

header img {
    margin: 0 0.25rem 0 1rem;
    max-width: 200px;
    height: auto;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 30px;
    margin-left: 20px;
    list-style: none;
    padding: 0;
    font-family: sans-serif;
}

.navigation li {
    display: flex;
    justify-content: center;
}

.navigation a {
    display: inline-block;
    background-color: var(--accent-color1);
    color: var(--primary-color);
    padding: 10px 20px;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
    text-align: center;
    transition: backgroud-color 0.3s;
}

.navigation a:hover {
    color: var(--secondary-color);
    font-weight: 700;
    text-decoration: underline;
}

.section1 {
    background-color: var(--primary-color);
    display: grid;
    grid-template-columns: 1fr 250px 1fr;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: auto;
}

.section1 h2 {
    display: flex;
    grid-column: 1/4;
    justify-content: center;
    align-items: center;
}

.section1 img {
    margin: 0 1rem 25rem 0; 
    width: 230px;
    height: auto;
}

.section1 p {
    display: flex;
    text-align: justify;
    padding: 20px;
    color: #333; 
}

.section2 {
    background-color: var(--secondary-color);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center; 
    align-items: center;
    padding: 10px;
    margin: auto;
}

.section2 h2 {
    display: flex;
    grid-column: 1/6;
    justify-content: center;
    align-items: center;
}

footer {
    position: relative;
    display: grid;
    grid-template-columns: 1fr; 
    align-items: center;
    justify-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    color: var(--accent-color2);
    text-align: center; 
}

footer p {
    margin: 0;
    font-family: sans-serif;
    color: var(--accent-color2);
    grid-column: 1 / -1; 
}

footer .sociallinks {
    position: absolute; 
    bottom: 20px; 
    right: 20px; 
    display: flex;
    gap: 15px; 
}

footer .sociallinks a img {
    width: 25px; 
    height: auto;
}
